body{
    /* background: #183159; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

/* Navbar start */
.navtitle{
    /* font-family: 'MonteCarlo'; */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #9B9B9B;
}
.main-nav{
    /* background: #183159; */
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    list-style: none; /* to remove dots */
    display: flex;
    padding: 0;
    align-items: center;
    height: 100%;
    margin: 0;
}
.menu-list-item{
    margin-left: 20px;
    color: #9B9B9B;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
}
.menu-list-item-highlighted{
    color: #FFFFFF;
}
.notification{
    margin-right: 13%;
    /* padding-left: 55%; */
    /* justify-content: right;
    align-items: flex-end;
    align-self: flex-end; */
}

.profile-img img{
    width: 60%;
    border-radius: 100%;
    border: 2px solid #4F90FB;
     /* linear-gradient(96.79deg, rgba(66, 133, 244, 0.8) 0%, rgba(24, 110, 252, 0.8) 100%); */
}

.right-side-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.robot-img{
    height: 40px;
}

.left-nav-side-container{
    display: flex;
    align-items: center;
}
/* Navbar end */

/* Content section start */
.content-section{
    background: url(../images/right-side-man.webp) no-repeat fixed left;
    background-size: 118%;
    height: 92%;
}

h1{
 color : #E3BF9A;
}
.description{
    color: #F6F6F6;
}
.left-btn{
    /* background-color: #EF9937; */
    color: #EF9937;
    padding: 10px;
    margin-right: 40px;
    border: 1px solid #EF9937;

}
.right-btn{
    color: #EF9937;
    border: 1px solid #EF9937;
    padding: 10px;
}
.right-btn:hover{
    background-color: #EF9937;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}
.left-btn:hover{
    background-color: #EF9937;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.outer-btn-box{
    display: flex;
    margin-top: 30px;
}

.content-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
/* Content section end */
/*Analyze page start*/
.main-box{
    background: url(../images/man_angry.png) no-repeat center center;
    background-size: 100% 100%;
    /* background-size: cover; */
    height: 92%;
    position: relative;
}
.analyze-btn{
    position: absolute;
    right: 48%;
    bottom: 10%;
    /* background: url(../images/analyze_click_btn.png) no-repeat center center; */
    /* height: 240px; */
    /* width: 240px; */
    /* z-index: 999999; */
    max-width: 6%;
    border-radius: 100%;
    /* max-height: 10%; */
}
.analyze-btn:hover{
    transform: scale(1.1);
    transition: all .3s;
    cursor: pointer;
}
.analyze-arrow{
    position: absolute;
    right: 76%;
    bottom: 10%;
}
.analyze-text-btn-desc{
    color: #fff;
    position: absolute;
    bottom: 5%;
    right: 46%;
    font-size: large;
}
/*Analyze page end*/
/*Analyze card page start*/
.red-dot{
    height: 10px;
    width: 10px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
}
.card-top{
    background: url(../images/man_angry.png) no-repeat center center;
background-size: 100% 100%;
    /* background-size: cover; */
    height: 50vh;
    width: 100vh;
    margin: 30px;
    border-radius: 16px;
    /* margin-left: 100px; */
}
.white-text{
    color: #fff;
}
.black-card{
    background: #0A101F;
    height: 200px;
    width: 200px;
    margin-right: 20px;
}
.small-card-title{
    margin-left: 30px;
}
.small-cards-holder-box{
    display: flex;
    justify-content: space-between;
    width: 139vh;
    margin: 30px;
}
.small-card-1{
    /* background: url(../images/Small-card-1.jpeg) no-repeat center center; */
    /* background-size: cover; */
    background-color: #0A101F;
    border-radius: 16px;

}
.small-card-2{
    background: url(../images/Small-card-2.jpeg) no-repeat center center;

}
.small-card-3{
    background: url(../images/Small-card-3.jpeg) no-repeat center center;
}

.small-card-1-img{
    height: 75%;
    width: 100%;
}
.small-card-text{
    font-size: 14px;
}
.learn-more-text{
    text-align: right;
    font-size: small;
}
.green-dot{
    height: 10px;
    width: 10px;
    background-color:#3BFA65;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}
.yellow-dot{
    height: 10px;
    width: 10px;
    background-color:#DBD42C;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}

.shadow-box{
    position: absolute;
width: 120px;
height: 40px;
left: 7px;
top: 107px;
padding: 10px;
margin-left: 5px;
background: rgba(19, 21, 23, 0.64);
/* back blur */

backdrop-filter: blur(3px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 8px;
}

.shadow-box-text{
    font-size: small;
}

.right-side-long-card{
    background-color: #0A101F;
    border-radius: 16px;
    height: 100vh;
    width: 25%;
    margin-left: 60px;
    margin-top: 30px;
    padding: 10px;
}
.main-analayze-container{
    display: flex;
}
.heading-right-side-card{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
margin-left: 20px;
margin-top: 20px;
}
.content-right-side-card{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
margin-left: 20px;
}
.red-text{
    color: #FF4242;
}
.angry-emoji{
    height: 20px;
    width: 20px;
}
.right-side-small-card-1{
    max-width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    padding: 0;
}
.right-small-card-text{
    text-align: center;
    margin-top: 3px;
}
/*Analyze card page end*/
/*Login Start*/
.main-container{
    /* background-size: 118%; */
    /* width: 100%;
    height: 100%; */
    /* opacity: .7; */
    /* position: relative; */
}
.black-box{
    background-color: #212224;
    margin: 0 auto;
    padding: 10px;
    /* background: #1A2947; */
    border-radius: 15px;
    width: 340px;
    margin-top: 5%;
}
.right-side-img-container{
    background: url(../images/right-side-man.webp) no-repeat fixed left;
    width: 100%;
    height: 100vh;
    background-size: 128%;
    position: absolute;
    top: 0;
    z-index: -99;
}
.left-side-img-container{
    background: url(../images/left-structure-man.png) no-repeat fixed left;
    width: 100%;
    height: 100vh;
    background-size: 30%;
    position: absolute;
    bottom: 0;
    z-index: -99;
}
.main-title-login{
    font-family: 'MonteCarlo';
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}
.black-login-card{
    height: 100%;
    margin: 0 auto;
    /* margin-top: 30px; */
    padding: 20px;
    color: #fff;
    font-family: 'Open Sans';
}
.login-title-text{
    color: #fff;
}
.password-container{
    display: flex;
    justify-content: space-between;
}
.label-login{
    color: #7F7E83;
    margin-top: 5px;
    margin-bottom: 5px;
}
.forget-passwd-label{
    color: #1B91FF;
    font-size: small;
    text-align: right;
    margin: 0;
    margin-top: 5px;
}
.login-btn{
    margin: 0 auto;
    color: #fff;
    /* background: #0D1423; */
    background: #000;
    width: 50%;
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
}
.login-btn:hover{
    margin: 0 auto;
    color: #000;
    background: #fff;
    width: 50%;
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}
.login-line{
    background: #626860;
}
.login-line-container{
    display: flex;
    margin-top: 5px;
}
.google-btn{
    margin: 0 auto;
    color: #fff;
    /* background: #0D1423; */
    background: #000;
    width: 80%;
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 14px;
}
.google-btn:hover{
    cursor: pointer;
}
.google-icon{
    width: 23px;
    margin-right: 10px;
}
.down-login-label{
    margin-top: 30px;
    text-align: center;
}
.create-account-label{
    color:  #1B91FF;
    text-decoration: underline;
}
.create-account-label:hover{
    cursor: pointer;
}
/*Login end*/
/*Sign up start*/
.down-signup-label{
    font-size: smaller;
    margin-top: 10px;
}
.black-signup-card{
    margin-top: 1%;
    padding-bottom: 0%;
}
/*Sign up end*/
